*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: blanchedalmond;
    padding: 16px 0;
    text-align: center;
}

header h1{
    margin-bottom: 8px;
}

header input{
    padding: 8px;
    border-radius: 5px;
    max-width: 100%;
}

header button{
    padding: 8px;
    border: none;
    background-color: rgb(6, 175, 31);
    color: #fff;
    font-weight: bold;
}

ul li{
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

.list{
    background-color: beige;
    text-align: center;
    cursor: pointer;
}

.completed{
    text-decoration: line-through;
}