*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-nav .nav-link.active{
    color: #fff;
    background:	#d1ac60;
}

.navbar{
    font-family: "Marhey", sans-serif;
}

.container{
    display: block;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}
.nav-link{
    text-align: center;
}

section{
    background-color: #e73996;
    padding-top: 70px;
    padding-bottom: 16px ;
    font-family: "Marhey", sans-serif;
}

section h2{
    color: #fad68d;
    text-align: center;
    font-weight: bold;
    font-family: "Lemonada", cursive;
}

header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
    background-color:#ff5ed5;
}

header h1{
    color:#5dfaf5e7;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-family: "Lemonada", cursive;
}

.carousel-caption{
    color:#5dfaf5e7;
    background-color:#4d424994;
    border-radius: 8px;
    font-weight: bolder;
    font-family: "Lemonada", cursive;
}

hr{
    color:#fad68d;
}

.card{
    background-color:#4d4249;
    color: #fad68d;
    margin-top: 12px;
    width: 350px;
    max-width: 90%
}

.card-title{
    color:#5dfaf5e7 ;
}

.btn-outline{
    text-decoration: none ;
    color: #5dfaf5e7;
}

.sobre p{
    text-align: justify;
    background-color: #4d4249;
    color: #d1ac60;
    border-radius: 8px;
    padding: 12px;
}

.artigo{
    padding-left: 30px;
}

.sobre{
display: block;
margin: 0 auto;
}

footer{
    padding: 12px;
    background-color: #ff5ed5;
    color:#5dfaf5e7 ;
    text-align: center;
    font-family: "Marhey", sans-serif;
}

@media screen and (max-width: 640px){
    .artigo{
        padding-left: 60px;
    }

    .sobre img{
        height: 355px;
        align-items: center;
        padding-left: 10px;
    }
    
    #rupaul{
        padding: 0;
        padding-bottom: 12px;
        align-items: center;
    }

    .sobre img{
        width: 350px;
    }

    .txt{
        text-align: center;
    }
    
}

@media screen and (min-width: 641px) and (max-width: 1023px){
    .artigo{
        padding-left: 40px;
    }

    .container{
        max-width: 100%;
    }

    .sobre p{
        padding: 24px;
    }

}